<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Practice" parallel="methods" thread-count="6">
    <listeners>
        <listener class-name="com.functions.reTry.RetryTransformer"/>
    </listeners>
    <test parallel="methods" thread-count="6" name="Test">
        <classes>
            <class name="testrunners.ParallelRun"/>
        </classes>

    </test> <!-- Test -->
</suite> <!-- Suite -->